<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'style.css') }}">

    <title>home</title>
</head>
<body>
    <div id="home">
            <h1 class="title">All appointments</h1>

            <!-- show status if booking is working -->
            {% if status %}
                <h1 style = "color: green; font-size: 16px;">Booking successful</h1>
            {% endif %}

            <ul class="appointments">
                <!-- shows if the there's appointments -->
                {% if app %}
                    {% for a in app %}
                            <li>
                                <span>{{ a.name }}</span>
                                <span>{{ a.date }} at {{ a.time }}</span>
                            </li>
                    {% endfor %}
                {% else %}
                   <h1>no appointments</h1>
                {% endif %}
              
            </ul>
            
            <a href="{{url_for('booking')}}" class="booking">book now</a>
    </div>
</body>
</html>